form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

input, textarea{
    padding: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 18px;
}

textarea{
    height: 280px;
}

button{
    background: #262626;
    border-radius: 4px;
    padding: 16px 24px;
    color: #f2f2f2;
    font-size: 20px;
    transition: 0.2s ease;
    border: none;
    cursor: pointer;
}

button:hover{
    background: #CF2E2E;
}

label{
    color: #262626;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox{
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 12px 0;
}

@media (max-width: 490px){
    form{
        width: 100%;
    }
}