.footer{
    background: #262626;
    padding: 120px 5%;
    z-index: 2;
    position: relative;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
}

.company-info, .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links{
    text-align: end;
}

.links li a{
    font-size: 20px;
    transition: 0.2s ease;
    color: #f2f2f2;
}

.links li a:hover{
    color: #CF2E2E;
}


.copyright{
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

@media (max-width: 490px){
    .footer{
        padding: 60px 5%;
    }
    .footer-wrap{
        display: block;
    }
    .links{
        text-align: start;
        padding: 0;
        margin-top: 60px;
    }
    .company-info, .links{
        width: 100%;
    }
    .copyright{
        margin-top: 60px;
    }
}