nav{
    display: flex;
    gap: 24px;
    margin-right: 5%;
}

nav a{
    color: #f2f2f2;
    text-decoration: inherit;
    transition: 0.2s ease;
    font-size: 20px;
    text-shadow: #262626 2px 4px 16px;
}

nav a:hover {
  color: #CF2E2E;
}

@media (max-width: 490px){
    nav{
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 0;
        top: 20%;
        gap: 12px;
    }

    nav a{
        background: #262626;
        text-shadow: none;
        padding: 4px;
    }
}