.header{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media (max-width: 490px){
    .header img{
        width: 96px;
    }
}