.about{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(242, 242, 242, 0.7);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
}

.about-contents{
    margin: auto;
    width: 83%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #262626;

}

.about-copy{
    font-size: 64px;
    margin-bottom: 80px;
}

.about-texts p{
    margin-left: 48px;
    line-height: 180%;
}

.about-button{
    position: relative;
}

.about-button p{
    transition: 0.2s ease;
    font-size: 24px;
    color: #262626;
}

.about-button::before{
    content: "";
    height: 4px;
    width: 120px;
    background: #CF2E2E;
    display: block;
    position: absolute;
    left: -144px;
    top: 24px;
}

.about-button p:hover{
    color: #CF2E2E;
}

@media (max-width: 490px){
    .about{
        height: 100%;
        padding: 60px 0;
    }
    .about-copy{
        font-size: 48px;
    }
    .about-contents{
        display: block;
        width: 90%;
    }
    .about-texts{
        margin-bottom: 60px;
    }
    .about-texts p{
        margin-left: 24px;
    }
    .about-button{
        text-align: left;
    }
    .about-button::before{
        left: 200px;
    }
}