
@tailwind base; /* 入れたほうがよい */
@tailwind components; /* 正直あってもなくてもよい */
@tailwind utilities; /* 必須 */

:root {
  font-family: noto sans jp;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 100%;
}

.section{
  background: #f2f2f2;
  padding: 160px 5% 0px;
}

a {
  text-decoration: inherit;
  transform: transition 0.2s ease;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

li{
  list-style: none;
}

h1 {
  font-size: 56px;
  line-height: 1.1;
  margin: 0;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 32px;
}

p{
  font-size: 20px;
  margin: 0;
}

.sp-br{
  display: none;
}

.sec-title{
  color: #262626;
  position: relative;
  padding-bottom: 12px;
  border-bottom: #CF2E2E 4px solid;
}

@media (max-width:490px){
  button{
    width: 100%;
  }
  .page-h1{
    font-size: 40px;
    padding-bottom: 16px;
  }
  .sp-br{
    display: block;
  }
}